<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <ol>
        <% for (let c of categories) {%>
            <a href="/categories/<%= c.category_name %>"><li><%= c.category_name %> </li></a>
        <% } %>  
    </ol>
    <button><a href="/users/<%= customer_id %>" style="text-decoration: none;">Back to User Page</a></button>
</body>
</html>