<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h1 style="text-align: center;">Log In</h1>
    <br>
    <br>
    <form action="/login" method="post" style="text-align: left; margin-left:40%">
        <label for="email_id">Email id:</label>
        <input type="text" name="email_id" id="email_id" placeholder="Your website email id" style="margin-bottom:1.5rem;">
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Your website password"> 
        <button onclick="show()" type="button" id="showpasswordbutton">Show password</button>
        <br>
        <br>    
        <button type="submit">SUBMIT</button>
    </form>
    <br>
    <br>
    <br>
    <button style="text-align: left; margin-left:40%"><a href="/" style="text-decoration: none;">Back to login/signup page</a></button>
</body>
<script>
    function show() {
        let password = document.getElementById('password')
        let showpasswordbutton = document.getElementById('showpasswordbutton')
        if (password.type == 'password') {
            password.type = 'text'
            showpasswordbutton.textContent = 'Hide Password'
        }
        else {
            password.type = 'password'
            showpasswordbutton.textContent = 'Show Password'
        }
    }
</script>
</html>