<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
</head>
<body>
    <h1>Total Cost of Cart: <%= total_cost %></h1>
    <h1>Cart Items: </h1>
    <ol>
        <% for (cart_item of cart_items) {%> 
            <form action="/categories/<%= customer_id%>/product" method="post">
                <li><%= JSON.stringify(cart_item) %></li>
                <button type="submit">Order</button>
            </form>
        <% } %> 
    </ol>
</body>
</html>