<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Transactions</title>
</head>
<body> 
    <h1>Your Transactions</h1>
    <br>
    <ol>
        <% for (let t = 0;t<transactions.length;t++) { %>
            <li>
                Transaction id: <%= transactions[t].transaction_id %>
                <br>
                Transaction Date and Time: <%= transactions[t].transaction_date %> 
                <br>
                Transaction amount: <%= transactions[t].total_amount %> 
                <br>
            </li>
            <br>
        <% } %> 
    </ol>
    <button><a href="/users/<%= customer_id %>" style="text-decoration: none;">Back to User Page</a></button>
</body>
</html>