<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Transactions</title>
</head>
<body>
    <ol>
        <% for (let t of transactions) {%>
            <li>
                <%= t.transaction_id %>
                <%= t.transaction_date %> 
                <%= t.total_amount %> 
            </li>
        <% } %>  
    </ol>
    <button><a href="/users/<%= customer_id %>" style="text-decoration: none;">Back to User Page</a></button>
</body>
</html>